<app-navbar></app-navbar>
<app-title-no-background>Our Team</app-title-no-background>
<article class="">
  <app-our-team-filter></app-our-team-filter>
  
  <section id="teamContainer">
    <div class="container">
      <div class="row">
          <div
            class="col-12 col-md-6 col-lg-3"
            *ngFor="let employee of employees"
          >
          <app-employee-item
          [employee]="employee"
          ></app-employee-item>

          </div>

          <div #loading>
            loading...
          </div>
  
      </div>
    </div>
  </section>
</article>
<app-footer></app-footer>