body {
  padding-top: 76px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: "magpie","Times New Roman",Times,serif;
  font-weight: 500;
  line-height: 1.2;
  color: #05345F;
}

h2 {
  margin-bottom: .5rem;
  font-family: "magpie","Times New Roman",Times,serif;
  font-weight: 500;
  line-height: 1.2;
  color: @darkblue;
}


h1, h2, h3, h4, h5,h6 { letter-spacing: 2px; }

a,i {
  color: @darkblue;

  &:hover {
    text-decoration: none;
    color: @orange;
  }
}

a {
  font-family: 'museo-sans', 'sans-serif';
  cursor: pointer;
}

i {
  font-family: "FontAwesome";
  font-style: nomral;
}

p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-weight: 100
}