<div class="container">
    <div class="row">
        <div class="col-12">	
          <div class="container">	
            <nav class="row" role="navigation" label="footer-menu">	
              
              <!-- Parent Loop -->
              <div class="col-3" *ngFor="let menuItem of menu; index as i">
                <div class="menu-pre-footer-1-container">
                  <ul id="menu-pre-footer-1" class="pre-footer-1">

                    <!-- Parent Menu Name -->
                    <li>
                      <a href="#!">{{menuItem.text}}</a>
                    </li>
                    <!-- /Parent Menu Name -->

                    <!-- Children Loop -->
                    <li *ngFor="let children of menuItem.children">
                      <a href="{{children.link}}">{{children.text}}</a>
                    </li>
                    <!-- /Children Loop -->

                  </ul>
                </div>					
              </div>
              <!-- /Parent Loop -->


            </nav>
          </div>
        </div>
      </div>
</div>
