<section id="map" class="container home_map_section section-wrapper">
    <div class="section-wrapper">
            <app-section-title>Global Presence</app-section-title>


        <div class="row home_map_section__wrapper">
            <div class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <img id="mapImage" class="lazy" src="{{ globalOfficeData.imagePath }}" alt="Eaton Partners Office Map" >
            </div>

            <div class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <p>{{ globalOfficeData.paragraph }}</p>
                <div class="text-center">
                    <app-button></app-button>
                </div>
            </div>
        </div>
    </div>
</section>
