<div class="blogShadow">
  <a 
    routerLink="['/about', post.id]" 
    title=""
  >
    <div class="news_item-category category">Dynamic Category Here</div>
  </a>
  <div class="news_item-card-body news-item card-body">
    <a 
      routerLink="['/about', post.id]" 
      title=""
    >
      <div class="title-wrapper">
        <h4 [innerHtml]="post.title.rendered"></h4>
      </div>
      <time>{{ postDate }}</time>
      </a>
      <p 
        class="card-text"
        [innerHtml]="post.content.rendered"
      >
      </p>
    </div>
</div>