<div class="blogShadow"><a href="#!" title="Leveraging Eaton’s Leading Private Equity Advisory Platform, Eaton ...">
  <div class="news_item-category category">
    Press							</div>
    </a><div class="news_item-card-body news-item card-body"><a href="#!" title="Leveraging Eaton’s Leading Private Equity Advisory Platform, Eaton ...">
    <div class="title-wrapper">
      <h4>{{ post.title }}</h4>
    </div>
    <time>Mar 26, 2019</time>
    </a><p class="card-text">
      <a href="#!" title="Leveraging Eaton’s Leading Private Equity Advisory Platform, Eaton ...">
        {{ post.body }}
      </a>
      <br/><br/>
      <a href="#!">Read more</a></p>
  </div>
</div>