<a 
href="#!" 
>
  <div class="employee-item" appZoom>
    <figure class="zoom">
      <div 
        class="image"
        *ngIf="employee.featured_media > 0; else avatar"
      >
        <img 
          src="{{employee._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" 
          class="employee__employee-image" 
          alt="{{employee.title.rendered}}" 
          >
      </div>
      <ng-template #avatar>
        <img 
        src="{{ data.imagePath }}" 
        class="employee__employee-image" 
        alt="{{employee.title.rendered}}" 
        >
    </ng-template>
    </figure>
    <p class="teamName">{{employee.title.rendered }}</p>
    <p class="teamTitle">{{employee.job_title}}</p>
    
    <!-- Run Query To Get Employee Location -->
    <span class="teamLocationWrapper">
      <span class="teamLocation">
        {{offices}}
      </span>
    </span>
    <!-- /Run Query To Get Employee Location -->
  </div>
</a>