<app-navbar></app-navbar>
<div class="ep_jumbotron"
         style="
            background: linear-gradient(to bottom right,#023b6b3d,#023b6bb8), url(https://images.unsplash.com/photo-1493087670264-2f7f5844b402?ixlib=rb-1.2.1&auto=format&fit=crop&w=2698&q=80);
            height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
         "

    >
        <div class="ep_text_layover"
             style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
"
        >
            <h1 class="text-uppercase text-center" style="color: #fff;">Why Choose Us</h1>
        </div>
    </div>
    <article class="mainContainer">


        <!-- start: Our Approach About Page -->
        <div class="container">
            <div class="colsTopBorder row clearfix">
                <div class="col-12">
                    <div class="press-results clearfix">
                        <div class="left_container">
                            <h2>EATON PARTNERS IS THE MOST EXPERIENCED GLOBAL PLACEMENT AGENT IN THE WORLD.</h2>
                            <p>Our senior leadership has over 200 years combined professional experience and is active in every fundraise. With an unparalleled track record and global reach, we are the most experienced global placement agent in the world.</p>
                            <p>In the last 10 years alone, we have placed over $50 billion of commitments, receiving 930 commitments for 40 alternative investments.</p>
                            <p>Please look to our&nbsp;<a title="TRACK RECORD" href="http://www.eatonpartnersllc.com/eatonpartnerstrackrecordofsuccess/">Track Record</a>&nbsp;page to view some of our clients in the private equity, real assets, real estate and hedge fund sectors that have entrusted us with their successful fundraising.</p>
                        </div>
                        <div class="right_container">
                            <h3><strong>GLOBAL REACH</strong></h3>
                            <p>With nine offices around the world – (USA East Coast, Central and West Coast, Asia and Europe) – we are where you need us to be. In 2007, we were the first placement agent to open an office in Mainland China. We now actively represent a wide range of Asian strategies with active relationships with the leading Asian LPs.</p>
                            <p>Eaton Partners is a business division of Stifel, Nicolaus &amp; Company, Incorporated, Member SIPC, NYSE. It’s affiliate, Eaton Partners (UK) LLP is authorized and regulated by the Financial Conduct Authority (FCA). It’s affiliate, Eaton Partners Advisors (HK) Limited is approved as a Type 1 License company under the Securities and Futures Commission (SFC) in Hong Kong. Eaton Partners and the Eaton Partners logo are trademarks of Eaton Partners, LLC, a limited liability company ® Eaton Partners, LLC, 2018. Eaton Partners, LLC, Stifel, Nicolaus &amp; Co. Inc., Eaton Partners (UK) LLP, and Eaton Partners (HK) Limted are wholly owned subsidiaries and affiliates of Stifel Financial Corp.
                            </p></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- end: Remaining About Pages -->
    </article>
    <app-footer></app-footer>