<section class="team-filter-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-uppercase text-center">An experienced team</h1>
      </div>
    </div>
  </div>

  <div id="pageSearchForm">
    <form role="search" method="get" id="searchTeamForm" class="searchTeamForm">
      <input name="filterName" id="filterName" autocomplete="off" type="text" placeholder="Search Eaton Partners" value="">
      <input id="searchTeamSubmit" value="Search" type="hidden">
    </form>
  </div>

</section>