<section id="pageSearchFilter" class="filter">
    <div class="body-bg-2 full-width">
      <div class="container">
        <h3 class="text-uppercase filter__heading">Filter by</h3>

        <div class="teamFilters clearfix">
          <input type="hidden" id="filterOffset" name="filterOffset" value="0">
          


          <select name="" id="">
            <option value="" *ngFor="let capability of capabilities">{{capability.name}}</option>
          </select>

          <select name="" id="">
            <option value="" *ngFor="let office of offices">{{office.city}}</option>
          </select>

          <app-button 
            [text]="'Sort'"
            [type]="'blue'"
          ></app-button>


        </div>

        <!-- TODO: If SELECTS ARE ACTIVE SHOW THIS -->
        <div class="clearFiltersWrapper">
          <a class="clearFilters d-none" href="#">Clear filters</a>
        </div>
        <!-- /If SELECTS ARE ACTIVE SHOW THIS -->

      </div>
    </div>
  </section>
