<section class="home_experience">
  <div class="container">
    <div class="row home_experience__wrapper">
      <h2 data-aos="text-center text-uppercase fade-up" data-aos-duration="1000">Experience</h2>

      <div class="equalHeight clearfix">

        <!-- Loop starts here-->
        <app-experience-item
          *ngFor="let experienceCard of experienceCards"
        [experienceCard]="experienceCard">
        </app-experience-item>
        <!-- loop ends here -->

      </div>
    </div>
  </div>
</section>
