<section class="home_experience">
  <div class="container">
    <div class="row home_experience__wrapper">
      <div class="col-12">
          <app-section-title>Experience</app-section-title>
        </div>

      <div class="equalHeight clearfix">

        <!-- Loop starts here-->
        <!-- <app-experience-item
          *ngFor="let experienceCard of experienceCards"
        [experienceCard]="experienceCard">
        </app-experience-item> -->
        <!-- loop ends here -->

      </div>
    </div>
  </div>
</section>
