<section class="home_experience">

  <!-- TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-12">
          <app-section-title>Experience</app-section-title>
      </div>
    </div>
  </div>
  <!-- /TITLE -->

  <!-- Mobile Slider -->
<div class="container d-block d-md-none">
  <div class="row">
    <div class="col-12">
      <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig" 
      (breakpoint)="breakpoint($event)"
      >
        
        <div ngxSlickItem *ngFor="let experienceCard of experienceCards" class="slide">
            <div class="">
                <div class="home_experience__item colShadow" data-aos="fade-up" data-aos-duration="1000">
                  <span class="text-uppercase">{{ experienceCard.topLine }}</span>
                  <h3>{{ experienceCard.highlightLine}}</h3>
                  <div class="description-line text-uppercase">
                    {{ experienceCard.bottomLine}}
                  </div>
                  <p>{{experienceCard.paragraphLine}}</p>
                  <span class="text-uppercase">{{experienceCard.ctaLine}}</span>
                </div>
              </div>
              
        </div>

      </ngx-slick-carousel>
    </div>
  </div>
  </div>
  <!-- /Mobile Slider -->

  <div class="container d-none d-md-block">
    <div class="row">
        <app-experience-item
        *ngFor="let experienceCard of experienceCards"
        [experienceCard]="experienceCard"
        class="col-12 col-md-4"
        >
          
        </app-experience-item>
    </div>
  </div>

</section>
