<section class="capability__split-section container slideUpContent come-in-content">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 colFacts capability__left-column">
            <div class="border-top" style="border-top: 1px solid #ced6de; padding-top: 31px; position: relative;">
                <h5 class="text-uppercase">PRIVATE CREDIT BY THE NUMBERS</h5>

                <!-- todo: loop these -->
                <ul>
                        <li>Raising capital for credit funds since 1998</li>
                        <li>Credit track record includes $18+ billion for 26 funds</li>
                        <li>$11 billion advised and placed for credit strategies in last 5 years</li>
                </ul>
                <!-- /todo: loop these -->
                
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 colOverv capability__right-column">
            <div class="border-top" style="border-top: 1px solid #ced6de; padding-top: 31px; position: relative;">
                <h5 class="text-uppercase">PRIVATE CREDIT OVERVIEW</h5>
                <p>Eaton Partners has a broad and deep history of raising credit-focused funds.  Our track record includes working for clients across the spectrum of credit strategies, such as: Corporate Credit, Specialty Credit, Structured Credit, Real Estate Credit, Distressed Credit, Special Situations, and Royalties / Offtakes.</p>
            </div>
        </div>
    </div>
</section>