<section class="capability__split-section container slideUpContent come-in-content">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 colFacts capability__left-column">
            <div class="border-top" style="border-top: 1px solid #ced6de; padding-top: 31px; position: relative;">
                <h5 class="text-uppercase">{{columnTitleLeft}}</h5>

                <div [innerHTML]="columnContentLeft"></div>

                
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 colOverv capability__right-column">
            <div class="border-top" style="border-top: 1px solid #ced6de; padding-top: 31px; position: relative;">
                <h5 class="text-uppercase">{{columnTitleRight}}</h5>
                <div [innerHTML]="columnContentRight"></div>

            </div>
        </div>
    </div>
</section>