<app-navbar></app-navbar>
<app-page-title>Who We Are</app-page-title>
<article class="mainContainer">


<!-- start: Our Approach About Page -->


<div class="container">
   <div class="colsTopBorder row clearfix">
       <div class="col-12">
           <div class="press-results clearfix">
               <h2>EATON PARTNERS IS THE MOST EXPERIENCED GLOBAL FUND PLACEMENT AGENT IN THE WORLD.</h2>
               <div class="left_container">
                   <p>For over three decades, Eaton Partners has been widely recognized as the world’s leading placement agent. Since the firm’s founding in 1983, we have participated in raising over $90 billion of institutional capital across more than 110 highly differentiated investment funds, including private equity, private credit, real estate, real assets and hedge funds.</p>
                   <p>With over 85 employees in nine offices worldwide, our reach is extensive and our dedication to capital raising is unparalleled. Our professionals have strong, long-held relationships with over 4,000 of the largest, most active institutional investors in the US, Europe and Asia. Our investor network, from pension funds and consultants to endowments and foundations, all have a desire to invest substantial capital, with the average commitment of $50 million.</p>
                   <p>Our deep sector knowledge and unrivaled insight into the private fund market across several asset classes allows us to raise capital efficiently and effectively. We thrive on working alongside the most innovative funds and consistently partner with the highest-quality fund managers.</p>
                   <p>We are the pioneers of fund placement. We are placement experts.</p>
                   <p>In January 2016, Eaton Partners became a wholly owned subsidiary and affiliate of Stifel Financial Corp., a leading middle-market investment bank, to further ensure Eaton Partners’ success at the highest level of the global placement business.</p>
                   <h3 style="margin-bottom: 0px; font-size: 20px; font-weight: bold;">Vision Statement</h3>
                   <p>To be the world’s leading private capital advisor, identifying investment opportunities that drive innovation and uniting them with the most sophisticated investors</p>
               </div>
           </div>
       </div>
   </div>
</div>


<!-- start: Remaining About Pages -->

<!-- end: Remaining About Pages -->
</article>
<app-footer></app-footer>