<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="">
      <img src="{{ navbar.logo }}" style="height: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <!-- Loop Top Level Nav Items Here -->
        <li *ngFor="let menuItem of menu; index as i" ngbDropdown>
            <a 
            class="nav-link text-uppercase dropdown-toggle" 
            id="{{ 'id__' + menuItem.id }}" 
            role="button" ngbDropdownToggle>
            {{menuItem.text}}
          </a>
            
            <!-- Loop Children Here -->
            <div class="dropdown-menu"  
            *ngIf="menuItem.children.length > 0" ngbDropdownMenu
            >
                <a 
                  *ngFor="let childItem of menuItem.children; index as i " 
                  class="dropdown-item" href="{{menuItem.children[i].link}}">
                  {{menuItem.children[i].text}}
                </a>
              </div>
              <!-- /Loop Children Here -->
        </li>
        <!-- /Loop Top Level Nav Items Here -->



        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase" routerLink="/contact-us" id="CONTACT US" role="button">CONTACT US
            <i class="far fa-paper-plane" style="padding-left: 10px;"></i>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<!-- end: menu -->
