<section class="container home_capabilities">
  <div class="section-wrapper">


        
        <app-section-title>Capabilities</app-section-title>
        
        <div class="container">
          <div class="clearfix row home_capabilities__boxes">

            <app-capability-item
            *ngFor="let capability of capabilities"
            [capability]="capability"
            class="col-12 col-md-6 col-lg-4"
            >
            </app-capability-item>
          </div>
        </div>

    </div>
</section>
