<div class="byline">
  
    <!-- Left -->
    <div class="left">
      <p>Eaton Advises IVEST</p>
      <p>Mar 26, 2019</p>
    </div>
    <!-- /Left -->

    <!-- Right -->
    <div class="right">

      <div class="social a2a_kit a2a_kit_size_32 a2a_default_style" style="line-height: 32px;">
        <p>Share this article</p>
        <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><i class="fab fa-twitter"></i></a>
        <a class="a2a_button_linkedin" target="_blank" href="/#linkedin" rel="nofollow noopener"><i class="fab fa-linkedin-in"></i></a>
      <div style="clear: both;"></div></div>

    </div>
    <!-- /Right -->
  </div>	  