/* You can add global styles to this file, and also import other style files */
@import "assets/styles/base/index.less";
@import "assets/styles/vendor/index.less";

a { cursor: pointer; }

.section-wrapper {
    padding: 70px 0px;
}

app-section-title h2 {
    padding-bottom: 35px;
}

.mainContainer {
    padding: 70px 0px;
}

.employee-item {
    margin-bottom: 50px;
}

i {
    font-style: normal !important;
    cursor: pointer;
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.fa-chevron-left {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}