<section class="ep__testimonials section-wrapper">
  <app-section-title>Testimonials</app-section-title>

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
        class="text-center"
        >
      <div ngxSlickItem *ngFor="let testimonial of testimonials" class="slide">
      <p>{{testimonial.quote}}</p>
      <p>&mdash; {{testimonial.name}}, {{testimonial.title}}</p>
      <p>{{ testimonial.company }}</p>
      </div>
      </ngx-slick-carousel>
      </div>
    </div>
  </div>

  
</section>
